<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>{% block title %}FLASK SNS{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url-for('app.home')}}">
            ホーム
        </a>
        {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="{{url-for('app.logout')}}">
            ログアウト
        </a>
        {% else %}
        <a class="navbar-brand" href="{{url-for('app.login')}}">
            ログイン
        </a>
        <a class="navbar-brand" href="{{url-for('app.register')}}">
            登録
        </a>
        {% endif %}
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>